* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s ease;
}
.about {
  padding: 8rem 5rem 2rem 5rem;
}
.About {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.about-detail {
  display: flex;
  flex: 1 1 500px;
  flex-direction: column;
  text-align: start;
  /* gap: 2rem; */
}
.about-detail h2 {
  padding: 4px;
  font-size: 18px;
  font-weight: bolder;
  color: #0339c1;
}
.about-detail h1 {
  font-size: 40px;
  padding: 10px 0;
}
.about-detail h1 span {
  color: #0339c1;
}
.about-detail p {
  font-size: 19px;
  font-weight: lighter;
  padding: 10px 0;
}
.about-detail ul {
  padding: 6px 21px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 0.7rem;
  text-align: start;
}
.about-detail ul li {
  font-weight: lighter;
}
.about-detail ul li::marker {
  content: "💠 ";
}

.about-image {
  display: flex;
  flex: 1 1 500px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
}
.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-image2 {
  width: 200px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 10;
  position: relative;
  left: -200px;
}
.about-image2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vision{
  padding: 3.2rem 1rem;
  display: flex;
  gap: 1.2rem;
  /* align-items: center; */
  justify-content: center;
}
.vision .v{
  /* width: 350px !important; */
  padding: 2rem 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 350px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.v:hover{
  box-shadow: 0 0 4px #0339c161;
}
.v h1{
  padding: 14px;
}
.v h1 span{
  color: #0339c1;
}
.v p{
  padding: 10px 0;
  letter-spacing: 0.4px;
  font-weight: lighter;
}
.v p span{
  color: #0339c1;
}

.team {
  padding: 3rem 1rem 1rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team h1 {
  font-size: 36px;
  padding: 10px 0;
}
.team h1 span {
  color: #0339c1;
}
.team p {
  font-weight: lighter;
  font-size: 17px;
  padding: 4px 0;
  width: 750px;
}
.people{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem 1rem 1rem 1rem;
}
.person{
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  padding: 1rem 1rem 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
.person img{
  width: 100%; height: 100%;
  object-fit: cover;
  padding: 15px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.person h2{
  color: #0339c1;
  padding: 6px 0;
}
.person p{
  font-weight: lighter;
  padding: 2px 0;
}

.video-tour {
  padding: 3rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.video-tour h1 {
  font-size: 36px;
  padding: 10px 0;
}
.video-tour h1 span {
  color: #0339c1;
}
.video-tour p {
  font-weight: lighter;
  font-size: 17px;
  padding: 4px 0;
  width: 750px;
}

@media (max-width: 1090px) {
  .about {
    padding: 8rem 2rem 2rem 2rem;
  }
  .About {
    flex-wrap: wrap;
  }
  .team p, .video-tour p {
    width: auto;
  }
  .vision{
    flex-wrap: wrap;
  }
}
@media (min-width: 1670px) {
  .About {
    max-width: 70%;
  }
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Vision{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .vision{
    max-width: 70%;
  }
}
