*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    transition: 0.4s ease;
}
.plans{
    padding: 4rem 1rem;
    background: rgba(202, 204, 207, 0.2);
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.22rem;
    padding-bottom: 1rem;
}
.head h1{
    font-size: 40px;
}
.head h1 span{
    color: #0339c1;
}
.head p{
    width: 800px;
    font-size: 16px;
    font-weight: lighter;
}

.plans .plan{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    padding:  2rem 1rem;
    display: flex;
    flex: 1 1 300px;
}
.plan .pack{
    padding: 2rem 1rem;
    text-align: center;
    border: 1px solid rgba(148, 147, 147, 0.4);
    transition: 0.5s ease;
    margin: 14px 0;
}
.p-head{
    padding: 10px 0 20px 0;
    border-bottom: 1px solid grey;
}
.pack .p-head h2{
    padding: 6px;
    color: #0339c1;
}
.pack .p-head p{
    font-weight: lighter;
}
.p-detail{
    padding: 21px 0;
    text-align: start;
}
.p-detail li{
    font-weight: lighter;
    padding: 4px;
    font-size: 13px;
}
.p-detail li span{
    color: #0339c1;
}
.p-detail li::marker{
    content: '🔹 ';
}

.price p{
    font-weight: lighter;
    color: grey;
}
.money{
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
}
.money p{
    font-weight: lighter;
}
.money h1{
    font-size: 36px;
}
.pack:hover{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.pack:hover .money h1 ,.pack:hover .money p{
    color: #0339c1;
}

.order{
    padding-top: 18px;
}

.order .button{
    letter-spacing: 1px !important;
    border: 1px solid rgba(128, 128, 128, 0.2) !important;
}
.rec{
    color: white;
    font-weight: lighter;
    font-size: 16px;
    padding: 10px 0;
}
.rec p{
    padding: 4px;
    border: 1px solid rgba(128, 128, 128, 0.2) !important;
    background: #0339c1;
}
.family{
    position: relative;
    top: -27px;
}

.included{
    padding: 2rem 5rem;
    background: rgba(202, 204, 207, 0.4);
}
.include-pack{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2.5rem;
    padding: 3rem 0;
}
.i-pack{
    display: flex;
    align-items: center;
    gap: 1.4rem;
}
.i-pack .i-icon i{
    font-size: 50px;
    color: #0339c1;
}
.i-detail{
    text-align: start;
}
.i-detail h3{
    font-size: 18px;
    font-weight: bolder;
    padding: 14px 0;
    width: fit-content;
    border-bottom: 1px solid #0339c1;
}
.i-detail p{
    font-weight: lighter;
    padding: 14px 0;
    font-size: 14px;
}


@media(max-width: 1160px){
    .plans .plan{
        flex-wrap: wrap;
    }
    .head p{
        width: auto;
    }
    .included{
        padding: 2rem;
        background: rgba(202, 204, 207, 0.4);
    }
}