* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s ease;
}
.quizzes {
  padding: 2.4rem 1rem;
  text-align: center;
}
.q-head{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.quizzes h1 {
  font-size: 39px;
  padding: 14px 0;
}
.quizzes h1 span {
  color: #0339c1;
}
.quizzes p {
  width: 850px;
  padding: 7px 0;
}

.Accordion {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 1rem;
}

@media (max-width: 968px) {
  .quizzes p {
    width: auto;
  }
  .Accordion{
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}
@media(max-width: 468px) {
  .Accordion{
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}
@media(min-width: 1600px){
  .quiz{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Accordion{
    max-width: 75%;
  }
}
