* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s ease;
}
.contacts {
  padding: 6rem 1.2rem;
}
.contact {
  display: flex;
  flex-direction: column;
  text-align: center;

  
}
.contact h1{
  font-size: 38px;
  padding: 1rem;
  text-align: center;
}
.contact h1 span{
  color: #0339c1;
}
.contact-detail {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
}
.contact-detail .c-detail {
  padding: 1.3rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  text-align: center;
}
.c-icon {
  padding: 12px 15px;
  border-radius: 3px;
  background: #0339c1;
  color: white;
  font-size: 25px;
}
.c-detail h2 {
  font-size: 21px;
  padding: 16px 0;
}
.c-detail p {
  padding: 2px 0;
  color: grey;
  font-weight: lighter;
  letter-spacing: 0.4px;
}
.c-detail:hover h2 {
  color: #0339c1;
}
.c-detail:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.form {
  padding: 1.8rem 0.8rem;
  background: rgba(7, 68, 223, 0.1);
  border-radius: 4px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.7rem;
}
.form form {
  width: 1000px !important;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}
.form form h3{
  color: #0339c1;
  padding: 6px 10px;
}
.form form h1{
  padding: 6px 10px !important;
  letter-spacing: 1px;
}
form input {
  width: 100%;
  padding: 0.9rem;
  font-size: 17px;
  background: rgba(3, 57, 193, 0.15);
  border: none;
  border-radius: 3px;
  margin: 10px 0;
  letter-spacing: 1px;
  outline: none;
  color: grey;
}
form textarea {
  width: 100%;
  padding: 0.9rem;
  font-size: 17px;
  background: rgba(3, 57, 193, 0.15);
  border: none;
  border-radius: 3px;
  margin: 10px 0;
  letter-spacing: 1px;
  outline: none;
  color: grey;
}
.form form .button{
  margin: 10px 0;
  width: fit-content;
}

.location .l-image {
  width: auto;
  height: auto;
  justify-content: center;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.l-image .iframe{
  width: 600px;
  height: 656px;
  object-fit: cover;
}

@media (min-width: 1670px) {
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-detail {
    max-width: 80%;
  }
  .location {
    max-width: 75%;
  }
  .form{
    max-width: 70%;
  }
}
@media (max-width: 1200px) {
  .form {
    flex-wrap: wrap;
    /* padding: 1.6rem 0.2rem; */
  }
}
@media (max-width: 640px) {
  .l-image .iframe{
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
}
@media (max-width: 430px) {
  .l-image .iframe{
    width: 320px;
    height: 420px;
    object-fit: cover;
  }
}
