*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
.privacy{
    padding: 3rem 0;
}
.privacy h1{
    font-size: 39px;
    padding: 1.7rem;
    background: rgba(3, 56, 191, 0.12);
}
.policies{
    padding: 2rem 1rem;
    margin: 2rem 4rem;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    gap: 3.5rem;
    text-align: start;
    background: rgba(128, 128, 128, 0.2);
}

@media(max-width: 900px){
    .policies{
        margin: 1rem;
    }
}