@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition: 0.2s ease;
  font-family: "Roboto Slab", serif;
}
.header {
  width: 100%;
  padding: 0.4rem 1rem;
  box-shadow: 0px 0.1em 0.2em rgba(0, 0, 0, 0.09),
    0px 0.4em 0.7em -0.1em rgba(0, 0, 0, 0.09);
  background: rgba(255, 255, 255);
  position: fixed;
  z-index: 1000;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.logo-img {
  width: 59px;
  height: 42px;
}
.logo-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.nav-icon {
  color: red;
  cursor: pointer;
  display: none;
  font-size: 14px;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.4rem;
  padding: 5px;
}
.nav-item {
  padding: 0.2rem;
}
.nav-links {
  font-size: 14px;
  color: black;
  font-weight: 600 !important;
  letter-spacing: 0.6px;
  cursor: pointer;
}
.nav-links.active{
  color: #0d45be;
  border-bottom: 4px solid #0d45be;
}
/* .nav-links span{
  font-weight: lighter;
} */

.nav-links:hover {
  color: #0d45be;
}

.nav-phone {
  text-align: end;
  display: flex;
  flex-direction: column;
  /* gap: 3px; */
}
.nav-phone h3 {
  font-weight: lighter;
  font-size: 17px;
}
.nav-phone a {
  text-decoration: none;
  font-size: 14px;
  color: #0d45be;
  font-weight: 600;
  letter-spacing: 0.4px;
}

.drop {
  display: flex;
  align-items: center;
  text-align: center;
}

#subMenu {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: start;
  flex-direction: column;
  background: white;
  padding: 29px 11px;
  opacity: 0;
  position: absolute;
  top: 42px;
  visibility: hidden;
  z-index: 1;
  /* border: 1px solid rgb(88, 87, 87); */
  /* border-radius: 4px; */
}

li:hover ul#subMenu {
  opacity: 1;
  top: 57px;
  visibility: visible;
}

#subMenu li {
  /* float: none; */
  width: 100%;
  /* text-align: start; */
}

@media (max-width: 1100px) {
  .header {
    padding: 0.6rem;
  }
  #subMenu{
    top: 100px;
  }
  .nav-icon {
    display: inline-flex;
    font-size: 30px;
    padding: 10px 5px;
    color: #0d45be;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    width: 100%;
    background: white;
    height: auto;
    position: absolute;
    top: 65px;
    right: -110%;
    opacity: 0;
    /* align-items: stretch; */
    padding: 35px 0 30px 0;
    transition: 0.7s ease;
  }
  .nav-menu.active {
    right: 0;
    opacity: 1;
  }
  .nav-item a {
    font-size: 24px;
  }
}

@media (max-width: 720px) {
  .logo h1 {
    font-size: 29px;
  }
  .logo {
    gap: 10px;
  }
  .nav-phone {
    gap: 1px;
  }
  .nav-phone p {
    text-decoration: none;
    font-size: 11px;
    color: #0d45be;
  }
  .nav-phone h3 {
    text-decoration: none;
    font-size: 18px;
  }
  .logo-img {
    width: 73px;
    height: 43px;
  }
}
@media (min-width: 1600px) {
  .nav {
    max-width: 81%;
    display: flex;
    gap: 14rem;
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1800px) {
  .nav-item a {
    font-size: 18px;
  }
  .logo-img {
    width: 145px;
    height: 70px;
  }
}
