@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  /* font-family: "Roboto Slab", serif; */
}
.header {
  width: 100%;
  padding: 0.4rem 1rem;
  box-shadow: 0px 0.1em 0.2em rgba(0, 0, 0, 0.06),
    0px 0.4em 0.7em -0.1em rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255);
  position: fixed;
  z-index: 1000;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.logo-img {
  width: 69px;
  height: 42px;
}
.logo-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.nav-icon {
  color: red;
  cursor: pointer;
  display: none;
  font-size: 14px;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.8rem;
  /* padding: 2px; */
}
.nav-item {
  padding: 0.2rem;
}
.nav-links {
  font-size: 14px;
  color: black;
  font-weight: 600 !important;
  letter-spacing: 0.6px;
  cursor: pointer;
  transition: all 0.1s !important;
}
.nav-links:hover {
  color: #0d45be;
}
.icon{
  display: flex;
  gap: 4px;
  padding: 8px;
  border-radius: 4px;
  align-items: center;
}
.nav-links.active .icon{
  color: #0d45be;
  background: rgba(179, 179, 179, 0.4);
}
.nav-phone {
  text-align: end;
  display: flex;
  flex-direction: column;
  /* gap: 3px; */
}
.nav-phone h3 {
  font-weight: lighter;
  font-size: 17px;
}
.nav-phone a {
  text-decoration: none;
  font-size: 14px;
  color: #0d45be;
  font-weight: 600;
  letter-spacing: 0.4px;
}

@media (max-width: 1100px) {
  .header {
    padding: 0.6rem;
  }
  .nav-icon {
    display: inline-flex;
    font-size: 30px;
    padding: 10px 5px;
    color: #0d45be;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
    width: 100%;
    background: white;
    height: auto;
    position: absolute;
    top: 65px;
    left: -110%;
    opacity: 0;
    align-items: stretch;
    padding: 35px 0 30px 0;
    transition: 0.7s ease;
    filter: blur(4px);
    border-bottom: 2px solid rgba(133, 132, 132, 0.5);
    border-right: 2px solid rgba(132, 132, 132, 0.5);
    border-radius: 0 0 24px 24px;
  }
  .nav-menu.active {
    left: 0;
    filter: blur(0);
    opacity: 1;
  }
  .nav-item a {
    font-size: 24px;
  }
  .nav-links{
    font-size: 10px;
  }
  .icon{
    padding: 8px 100px;
  }
}

@media (max-width: 720px) {
  .logo h1 {
    font-size: 29px;
  }
  .logo {
    gap: 10px;
  }
  .nav-phone {
    gap: 1px;
  }
  .nav-phone p {
    text-decoration: none;
    font-size: 11px;
    color: #0d45be;
  }
  .nav-phone h3 {
    text-decoration: none;
    font-size: 18px;
  }
  .logo-img {
    width: 73px;
    height: 43px;
  }
}
@media (min-width: 1600px) {
  .nav {
    max-width: 81%;
    display: flex;
    gap: 14rem;
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1800px) {
  .nav-item a {
    font-size: 18px;
  }
  .logo-img {
    width: 145px;
    height: 70px;
  }
}
