* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s ease;
}
.H-slider1 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../../Images/iAffordableHome1.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6rem;
}
/* .H-slider2 {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(../../Images/iAffordableHome2.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.homeS {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: whitesmoke;
}

.homeS p {
  font-size: 19px;
  padding: 15px 10px;
  font-weight: bold;
}
.homeS p i{
  color: #7ab3f8;
  padding-right: 6px;
}
.homeS h1 {
  padding: 0 10px;
  font-size: 49px;
  width: 950px;
}
.homeS h2{
  color: #7ab3f8;
  padding: 4px 10px;
  font-size: 39px;
}
.homeS h2 span{
  font-weight: lighter;
  color: rgb(255, 255, 255);
}
.homeS .button {
  margin: 25px 10px !important;
}
.perks{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homeS .perks p {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 790px;
  font-size: 15px;
  padding: 21px 0 21px 10px;
  font-weight: bold;
  letter-spacing: 1px;
}
.home-links {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  justify-content: center;
}
.home-links .home-video {
  padding: 0.9em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  /* clip-path: circle(50% at 50% 50%); */
  overflow: hidden;
  border-radius: 4px;
  color: whitesmoke;
  background: #0359c1;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  border: none;
  font-family: Exo;
  letter-spacing: 3px;
  margin: 0 10px;
}
.home-video:hover {
  color: #0359c1;
  background: whitesmoke;
}
@media (min-width: 1600px) {
  .homeS h1 {
    font-size: 81px;
    width: 1350px;
  }
  .homeS p {
    font-size: 27px;
  }
  .perks p{
    font-size: 18px;
  }
}

@media (max-width: 990px) {
  .home-links{
    flex-wrap: wrap;
  }
  .perks {
    width: 500px;
  }
  .homeS p {
    font-size: 14px;
    padding: 15px 10px;
    font-weight: bold;
    /* display: none; */
  }
  .homeS h1 {
    padding: 0 10px;
    font-size: 39px;
    width: auto !important;
  }
}
@media (max-width: 490px) {
  .homeS p {
    font-size: 14px;
    padding: 15px 10px;
    font-weight: bold;
  }
  .homeS h1 {
    padding: 0 10px;
    font-size: 24px;
    width: auto !important;
  }
  .homeS h2{
    font-size: 21px;
  }
  .homeS .perks p{
    font-size: 14px;
    width: 360px;
  }
}

