* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s ease;
}
.H-slider1 {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(../../Images/IAffordable\ Home\ 1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* -webkit-animation: kenburns-top-right 5s infinite ease-out both;
  animation: kenburns-top-right 5s infinite ease-out both; */
}
.H-slider2 {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(../../Images/IAffordable\ Home\ 2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* -webkit-animation: kenburns-top-right 5s infinite ease-out both;
  animation: kenburns-top-right 5s infinite ease-out both; */
}
.H-slider3 {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(../../Images/IAffordable\ Home\ 3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* -webkit-animation: kenburns-top-right 5s infinite ease-out both;
  animation: kenburns-top-right 5s infinite ease-out both; */
}

@-webkit-keyframes kenburns-top-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 16%;
    transform-origin: 84% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(20px, -15px);
    transform: scale(1.25) translate(20px, -15px);
    -webkit-transform-origin: right top;
    transform-origin: right top;
  }
}
@keyframes kenburns-top-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 16%;
    transform-origin: 84% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(20px, -15px);
    transform: scale(1.25) translate(20px, -15px);
    -webkit-transform-origin: right top;
    transform-origin: right top;
  }
}

.homeS {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  color: whitesmoke;
  text-align: start;
}
.homeS p {
  font-size: 19px;
  padding: 15px 10px;
  font-weight: bold;
}
.homeS h1 {
  padding: 0 10px;
  font-size: 54px;
  width: 950px;
}
.homeS .button {
  margin: 25px 10px !important;
}
.homeS .perks ul {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  /* align-items: center; */
  text-align: start;
  padding: 12px 40px;
  font-weight: lighter;
}
.perks ul li::marker {
  content: "🔷 ";
}
@media (min-width: 1600px) {
  .homeS h1 {
    font-size: 92px;
    width: 1350px;
  }
  .homeS p {
    font-size: 27px;
  }
}

@media (max-width: 990px) {
  .homeS p {
    font-size: 18px;
    padding: 15px 10px;
    font-weight: bold;
  }
  .homeS h1 {
    padding: 0 10px;
    font-size: 43px;
    width: auto !important;
  }
}
@media (max-width: 490px) {
  .homeS p {
    font-size: 17px;
    padding: 15px 10px;
    font-weight: bold;
  }
  .homeS h1 {
    padding: 0 10px;
    font-size: 29px;
    width: auto !important;
  }
  .perks ul li{
    font-size: 13px;
  }
}

.slick-dots li button:before {
  font-size: 18px !important;
  top: -50px !important;
  color: white !important;
}

.slick-prev, .slick-next {
  display: block !important;
  cursor: pointer;
}
.slick-prev::before {
  content: '←';
}

.slick-prev::before, .slick-next::before {
  font-family: 'slick';
  font-size: 50px;
  line-height: 1;
  opacity: 1;
  color: rgb(60, 0, 255);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
