.H-slider {
  background: linear-gradient(rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38)),
    url(../../Images/I-Affordable\ Home.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeS {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  color: whitesmoke;
  text-align: start;
}
.homeS p {
  font-size: 21px;
  padding: 18px 10px;
  font-weight: bold;
}
.homeS h1 {
  padding: 0 10px;
  font-size: 60px;
  width: 950px;
}
@media(min-width: 1570px){
  .homeS h1{
    font-size: 85px;
    width: 1250px;
  }
  .homeS p{
    font-size: 27px;
  }
}

@media(max-width:990px){
  .homeS p {
    font-size: 19px;
    padding: 15px 10px;
    font-weight: bold;
  }
  .homeS h1 {
    padding: 0 10px;
    font-size: 48px;
    width: auto !important;
  }
}
@media(max-width:550px){
  .homeS p {
    font-size: 19px;
    padding: 15px 10px;
    font-weight: bold;
  }
  .homeS h1 {
    padding: 0 10px;
    font-size: 32px;
    width: auto !important;
  }
}
