.App {
  text-align: center;
  font-family: 'Noto Serif', serif;
  font-weight: 600;
  overflow-x: hidden;
}
.App p{
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar{
  width:9px!important;
}
::-webkit-scrollbar-track{
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb{
  background:rgba(3, 57, 193, 0.6)!important;
  border-radius: 2px;
}
::-webkit-scrollbar-button{
  display:none!important;
}

.button {
  padding: 1em 2em;
  border-radius: 3px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #0339c1;
  transition: all 1000ms;
  font-size: 16px;
  position: relative;
  margin: 18px 10px;
  overflow: hidden;
  cursor: pointer;
  border: none;
}

.button:hover {
  color: #ffffff;
  transform: scale(1.02);
}

.button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #0339c1;
  transform: skewX(40deg);
  z-index: -1;
  transition: width 500ms;
  border: none;
}

.button:hover::before {
  width: 150%;
}

