.App {
  text-align: center;
  font-family: 'Noto Serif', serif;
  font-weight: 600;
}

::-webkit-scrollbar{
  width:12px!important;
  height:15px!important;
}
::-webkit-scrollbar-thumb{
  background:rgba(3, 57, 193, 0.6)!important;
  border-radius: 3px;
}
::-webkit-scrollbar-button{
  display:none!important;
}

