* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s ease;
}
.accordion {
  width:100%;
  color: white;
}
.acc-head {
  background: rgba(2, 38, 129, 0.7);
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
}
.acc-head .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
}
.acc-head h4 {
  letter-spacing: 1px;
  font-weight: 440;
}
.acc-head span {
  cursor: pointer;
}
.acc-head span i {
  font-size: 25px;
}

.acc-content {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 3px 3px;
  height: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 600ms ease-in-out;
  padding: 5px;
}
.acc-content .container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
}
.acc-content .container p {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 450;
  color: black;
  width: auto;
}
.acc-content.show {
  height: 175px;
  opacity: 1;
}
.acc-content.hide {
  height: 0;
  opacity: 0;
}
@media (max-width: 968px) {
  .acc-content .container p {
    width: auto;
  }
  .acc-content.show {
    height: 275px;
    opacity: 1;
  }
}
@media (max-width: 468px) {
  .acc-head p {
    letter-spacing: 1.2px;
    font-weight: 440;
    font-size: 14px;
  }
}

