* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
}
.bg {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(../../Images/bg_bggenerator_com.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
